[Desktop Entry]
Name=Linphone
Comment=Linphone is a web-phone
Comment[fr]=Linphone est un web-phone.
Comment[de]=Linphone ist ein web-phone.
Type=Application
Exec=linphone
Icon=/Users/chris/Code/Gargoyle/linphone-iphone/submodules/build/..//../liblinphone-sdk/i386-apple-darwin/share/pixmaps/linphone/linphone.png
Terminal=false
Categories=Network;Telephony;
