#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Ask the question
db_fset libilbc0-rfc3951/agree_to_license seen false
db_input critical libilbc0-rfc3951/agree_to_license || true
db_go

# Check the answer.
db_get libilbc0-rfc3951/agree_to_license
if [ "$RET" = "true" ]; then
    db_fset libilbc0-rfc3951/thank_you seen false
    db_input critical libilbc0-rfc3951/thank_you || true
    db_go
else
    db_fset libilbc0-rfc3951/installation_aborted seen false
    db_input critical libilbc0-rfc3951/installation_aborted || true
    db_go
fi

